<%= form_for([:admin, @page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  

  <div class="field">
    <%= f.label :title, class:"eight columns centered" %>
    <%= f.text_field :title, class:"eight columns centered" %>
  </div>
  <div class="field">
    <%= f.label :content, class:"eight columns centered" %>
    <%= f.text_area :content, class:"eight columns centered" %>
  </div>
  <div class="field clearfix eight columns centered" style="padding-top: 10px">
    <%= f.check_box :blog_post %>
    <%= f.label :blog_post, "Show in blog posts?", style:"display:inline;" %>
  </div>
  <div class="actions two columns centered">
    <%= f.submit class:"nice big blue button" %>
  </div>
<% end %>
