<!DOCTYPE html>

<!--
The woods are lovely, dark and deep,
But I have promises to keep,
And miles to go before I sleep,
And miles to go before I sleep.
-Robert Frost
-->

<html>
<head>
  <title>Welcome to the portfolio of Bharani M</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" >
	<meta name="author" content="Bharani M"/>
	<meta name="Description" content="The online portfolio of Bharani M, a designer/dreamer from New Delhi, India ">
	<meta name="keywords" content="Bharani M, Bharani, web design, UI design, mobile design, web development" />
	
	<link href='http://fonts.googleapis.com/css?family=Jura:300,500' rel='stylesheet' type='text/css'>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28762592-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	
</head>
<body>
  <header id="top_bar">
		<ul class="nav clearfix">
			<%= nav_link "Home", root_path %>
			<%= nav_link "About", about_path %>
			<%= nav_link "Portfolio", projects_path %>
			<%= nav_link "Contact", contact_path %>
		</ul>
	</header>

  <%= yield %>

  <footer id="bottom_bar">
     <div class="footer_container">
       <p>Copyright 2012. All Rights Reserved.Built using <span>Ruby on Rails</span>.
         Check out the code on <a href="http://github.com/bharani91/portfolio">Github</a></p>
     </div><!--footer_container-->
  </footer>
</body>
</html>
