<!DOCTYPE html>
<html>
<head>
  <title>Portfolium</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" >
	<meta name="author" content="Bharani M"/>
	<meta name="Description" content="The online portfolio of Bharani M, a designer/dreamer from New Delhi, India ">
	<meta name="keywords" content="Bharani M, Bharani, web design, UI design, mobile design, web development" />
	
	<link href='http://fonts.googleapis.com/css?family=Jura:300,500' rel='stylesheet' type='text/css'>
	
	
</head>
<body>
  <header id="top_bar">
		<ul class="nav clearfix">
			<%= nav_link "Home", root_path %>
			<%= nav_link "About", about_path %>
			<%= nav_link "Portfolio", projects_path %>
			<%= nav_link "Contact", contact_path %>
		</ul>
	</header>

  <%= yield %>

  <footer id="bottom_bar">
     <div class="footer_container">
       <p>Copyright 2012. All Rights Reserved.Built using <span>Ruby on Rails</span>.
         Check out the code on <a href="http://github.com/bharani91/Portfolium">Github</a></p>
     </div><!--footer_container-->
  </footer>
</body>
</html>
